.phone{
    position: absolute;
    top: 10%;
    left: 30%;
}
.border{
    width: 600px;
    height: 650px;
    background-color: black;
    border-radius: 25px;
    padding: 20px;
}
.screen{
    height: 550px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}
.key{
    width: 8%;
    height: 8%;
    margin: 10px auto;
    background-color: white;
    border-radius: 50%;
}

@media screen and (max-width:1200px) {
    .phone{
        left: 25%;
    }
}

@media screen and (max-width:1000px) {
    .phone{
        left: 20%;
    }
}

@media screen and (max-width:950px) {
    .phone{
        left: 15%;
    }
}

@media screen and (max-width:850px) {
    .phone{
        left: 15%;
    }
    .border{
        width: 500px;
    }
    .key{
        width: 10%;
        height: 8%;
    }
}

@media screen and (max-width:720px) {
    .border{
        width: 400px;
    }
    .key{
        width: 14%;
        height: 8%;
    }
}